{%- macro card(title, body) %}
    <div class="card m-2 col">
        <div class="card-body">
            <h5 class="card-title text-center mb-3">
                {{ title }}
            </h5>
            <p class="card-text text-center fs-1">
                ${{ body }}$
            </p>
        </div>
    </div>
{%- endmacro -%}

{%- macro accordion(parent, id, title, body) %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading_{{id}}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse_{{id}}" aria-expanded="false" aria-controls="collapse_{{id}}">
                {{ title }}
            </button>
        </h2>
        <div id="collapse_{{id}}" class="accordion-collapse collapse" aria-labelledby="heading_{{id}}"
            data-bs-parent="#{{ parent }}">
            <div class="accordion-body">
                {{ body }}
            </div>
        </div>
    </div>
{%- endmacro -%}