
body {
    font-family: "Lora";
    font-size: 16px;
}

a {
    color: #CE5C00;
}

div.prompt{
    display: none;
}

.nav-link{
  font-weight: bold;
  color: #197395 !important;
  background: transparent;
}

h1, h2, h3, h4, h5, h6 {
    clear: left;
    color: #197395;
}
h1 {
    font-size: 30px;
    border-bottom: 1px solid #ccc;
    line-height: 36px;
}
h2 {
    font-size: 24px;
    border-bottom: 1px solid #ccc;
    line-height: 30px;
}
h3 {
    font-size: 20px;
    line-height: 26px;
}
h4 {
    font-size: 18px;
    line-height: 24px;
}
h5 {
    font-size: 14px;
    line-height: 17px;
}
h6 {
    font-size: 12px;
    line-height: 15px;
}
blockquote {
    border-left: 0;
}

dt {
    font-weight: normal;
}

.logo {
    /*logo on the left*/
    /*float: left;
    margin: 20px 0 20px 22px;*/
    /*logo centered*/
    margin:0px auto;
    display:block;
}
.logo img {
    height: 150px;
    margin:10px auto;
    display:block;
}

.figure{
    display: flex;
}


.footer {
    margin-top: 30px;
    padding: 5px 10px;
    color: #999;
}
.footer a {
    color: #999;
    text-decoration: underline;
}

.section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.figure .caption {
    /*width: 200px;*/
    text-align: center !important;
}

.figure .caption .caption-text{
    width: 200px;
    text-align: center !important;
}

/* misc */
div.math {
    text-align: center;
}

p{
    text-align: justify;
}

p.rubric {
    font-size: 24px;
    border-bottom: 1px solid #ccc;
    color: #197395;
}

dl.field-list dt.field-odd,dt.field-even {

    display: inline-block;
    padding: 1px 8px 1px 5px;
    white-space: nowrap;
    background-color: #197395;
    color: white;
}

dl.field-list {

    border-collapse: collapse;
    border-spacing: 5px;
    margin-left: 1px;
    border-left: 5px solid #197395; !important;

}

dl dt span.classifier::before
{
  content: " : ";
}

dl dt strong {

    padding-left: 5px;
    color: #197395;
}

dl dd {
    padding-left: 5px;
}

.highlight{
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    background-color: #f5f5f5;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
}

pre{
    margin: 0;
}

.longtable.docutils, .longtable.docutils td {
    border-color: transparent;
}

table.docutils {
    margin-bottom: 10px;
}

table.docutils td, table.docutils th {
    padding: 1px 8px 1px 5px;
    border: 0px;
    border-color: #ccc;
    text-align: left;
    overflow: visible;
}

.card-footer{
    background: transparent;
    border: 0;
}

code {
    color: #CE5C00;
    word-break: keep-all;
}

.navbar{
  background-color: #F9FAFF;
  background-image: linear-gradient(to bottom, #FFF, #F9FAFF);
  border: #ccc solid 1px;
  border-radius: 5px;
}

a.download{
  display: block;
  float: right;
  color: #197395;
  border-radius: 50px;
}

div.nbinput div.prompt{
    display: none;
}

.footer {
    margin-top: 30px;
    padding: 5px 10px;
    color: #999;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    margin-bottom: 20px;
}

.headerlink{
    display: none;
}
